/* Define common variables for both light and dark mode */
:root {
  --bg-color-dark: #141414;
  --bg-color-light: #dfe3ee;
  --text-color-dark: #fff;
  --text-color-light: #000;
  --navbar-bg-dark: #141414;
  --navbar-bg-light: #f8f9fa;
  --link-color-dark: #bbb;
  --link-color-light: #333;
  --link-hover-color-dark: #fff;
  --link-hover-color-light: #131314;
  --button-bg-dark: #1c1c1c;
  --button-bg-light: #131314;
  --footer-bg-dark: #000;
  --footer-bg-light: #f8f9fa;
  --h2-text-color-light: #000;
  --h2-text-color-dark: #fff;
  /* --a-text-color-dark: #fff; */
  --bs-nav-link-color-dark: #fff;
  --bs-nav-link-color-light: #000;

  --bs-nav-link-hover-dark-color: #fff;
  --bs-nav-link-hover-light-color: #000;

}

/* Base styles */
body {
  background-color: var(--bg-color-dark) !important;
  color: var(--text-color-dark);
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

body.dark-mode .category h2 {
  color: var(--bs-nav-link-color-dark);
}

body.light-mode .category h2 {
  color: var(--bs-nav-link-color-light);
}

/* .category-title.light-theme h2 {
  color: var(--h2-text-color-light) !important;
}
.category-title.dark-theme h2 {
  color: var(--h2-text-color-dark) !important;
} */

#settingsDropdown .setting-text {
  color: #fff;
}


.nav-link:focus,
.nav-link:focus {
  color: var(--bs-nav-link-hover-color) !important;
}


body.dark-mode .nav-link {
  color: var(--bs-nav-link-color-dark);
}

body.dark-mode .nav-link:hover {
  color: var(--bs-nav-link-hover-dark-color);
}

/* Styles for light mode */
body.light-mode .nav-link {
  color: var(--bs-nav-link-color-light);
}

body.light-mode .nav-link:hover {
  color: var(--bs-nav-link-hover-light-color);
}

body.light-mode #headOfArticles {
  color: var(--bg-color-dark) !important;
}

body.dark-mode #headOfArticles {
  color: var(--bg-color-light) !important;
}

body.light-mode .modal-content {
  background-color: var(--bg-color-light);
  color: var(--bg-color-dark) !important;
  border: none;
  margin-bottom: 20px;
  transition: transform 0.3s;
}
body.dark-mode .modal-content {
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light) !important;
  border: none;
  margin-bottom: 20px;
  transition: transform 0.3s;
}

body.light-mode .morewithlike a{
  background-color: var(--bg-color-light) !important;
  color: var(--bg-color-dark);
}
body.dark-mode .morewithlike a{
  background-color: var(--bg-color-dark) !important;
  color: var(--bg-color-light);
}

body.light-mode .morewithlike i {
  color: var(--bg-color-dark);
  border: none;
  padding: 0;
}
body.dark-mode .morewithlike i {
  color: var(--bg-color-light);
  border: none;
  padding: 0;
}

/* body.light-mode .card-body{
  background-color: var(--bs-nav-link-color-dark);
  color: var(--bg-color-dark);
  border-color: #f8f9fa;
}
body.dark-mode .card-body{
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
  border-color: #1c1c1c;

} */

body.light-mode .card{
  background-color: var(--bs-nav-link-color-dark);
  color: var(--bg-color-dark) !important;
  border-color: #f8f9fa;
  border-radius: 10px;
}
body.dark-mode .card{
  background-color: var(--bg-color-dark);
  color: var(--bg-color-light);
  border-color: #1c1c1c;

}

body.dark-mode .card-body a{
  background-color: transparent;
}
body.light-mode .card-body a{
  background-color: transparent;
  border-color: #0d6efd;
}




.light-theme #settings-text {
  color: var(--settings-text-light) !important;
}

.dark-theme #settings-text {
  color: var(--settings-text-dark) !important;
}

.navbar {
  background-color: var(--navbar-bg-dark);
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: background-color 0.3s ease;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
  color: #e50914 !important;
}

.navbar-nav .nav-link {
  color: var(--link-color-dark) !important;
  transition: color 0.3s;
}

.navbar-nav .nav-link:hover {
  color: var(--link-hover-color-dark) !important;
}

.navbar.scrolled {
  padding: 10px 0;
  background-color: #000;
}

/* .btn-primary {
  color: #007bff;
  background-color: var(--button-bg-light) !important;
  border-color: var(--button-bg-dark);
} */

.footer {
  text-align: center;
  padding: 20px;
  background-color: var(--footer-bg-dark);
  color: #777;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Light mode */
.light-mode {
  background-color: var(--bg-color-light) !important;
  color: var(--text-color-light) !important;
}

.light-mode .navbar {
  background-color: var(--navbar-bg-light) !important;
}

.light-mode .navbar-nav .nav-link {
  color: var(--link-color-light) !important;
}

.light-mode .navbar-nav .nav-link:hover {
  color: var(--link-hover-color-light) !important;
}

.light-mode .btn-primary {
  background-color: var(--button-bg-light) !important;
  border-color: var(--button-bg-light);
}

.light-mode .footer {
  background-color: var(--footer-bg-light) !important;
  color: #333;
}


/* Responsive Adjustments */
@media (max-width: 992px) {
  .item-card {
    min-width: 180px;
  }

  .category-title {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .item-card {
    min-width: 160px;
  }

  .navbar {
    padding: 8px;
  }

  .category-title {
    font-size: 1.25rem;
  }

  .action-card .card-title {
    font-size: 1.1rem;
  }

  .action-card .btn {
    font-size: 0.95rem;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.25rem;
  }

  .nav-link {
    margin-left: 0.5rem;
    font-size: 0.9rem;
    padding: 0.5rem 0rem;
  }

  .item-card {
    max-width: 140px;
  }

  .category-title {
    font-size: 1rem;
  }

  .action-card .card-title {
    font-size: 1rem;
  }

  .action-card .btn {
    font-size: 0.9rem;
  }
}